@model IEnumerable<ControlePatrimonios.Models.TbBloco>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Criar novo bloco</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeBloco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeBloco)
            </td>
            <td>
                <button onclick="Edit(@item.IdBloco)">Editar</button> |
                <button onclick="Details(@item.IdBloco)">Detalhes</button> |
                <button onclick="Delete(@item.IdBloco)">Excluir</button>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function Edit(BlocoId) {
        $.get("./Bloco/Details",
            {
                id: BlocoId
            })
            .done(function (result) {
                if (result.success)
                    swal({
                        title: "Nome do Bloco - " + result.message,
                        icon: "success"
                    });
            });
    }
    function Details(BlocoId) {
        $.get("./Bloco/Details",
            {
                id: BlocoId
            })
            .done(function (result) {
                if (result.success)
                    swal({
                        title: "Nome do Bloco - " + result.message,
                        icon: "success"
                    });
            });
    }
    function Delete(BlocoId) {
        swal({
            title: "Tem certeza?",
            text: "Você irá excluir o Bloco " + BlocoId,
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((excluir) => {
            if (excluir) {
                $.post("./Bloco/DeleteConfirmed",
                    {
                        id: BlocoId
                    })
                    .done(function (result) {
                        if (result.success)
                            swal({
                                title: "Bloco " + result.message + " deletado com sucesso",
                                icon: "success"
                            });
                        //fazer com que tenha algum delay aqui
                        window.location.reload();
                    })
                    .fail(function () {
                        swal("", "Algo deu errado", "error")
                    });
            } else {
                swal("Bloco não deletado");
            }
        });
        
    }
</script>
