@model ControlePatrimonios.Models.TbEncerramento

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TbEncerramento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataEncerramento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEncerramento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdItemNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdItemNavigation.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEncerramento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
